example01.xml
<?xml version="1.0" ?>
<template encoding-version="1.0">
  <description>Split large text, filter some lines, and wait all lines are processed.</description>
  <groupId>f8579d43-0159-1000-e80a-e5918772410a</groupId>
  <name>Split Filter Wait</name>
  <snippet>
    <processGroups>
      <id>f8598f04-0159-1000-0000-000000000000</id>
      <parentGroupId>f8579d43-0159-1000-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>0.0</y>
      </position>
      <comments></comments>
      <contents>
        <connections>
          <id>f859c0cb-0159-1000-0000-000000000000</id>
          <parentGroupId>f8598f04-0159-1000-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>f8598f04-0159-1000-0000-000000000000</groupId>
            <id>f8590398-0159-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>f8598f04-0159-1000-0000-000000000000</groupId>
            <id>f859abf9-0159-1000-0000-000000000000</id>
            <type>INPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>f85b09e2-0159-1000-0000-000000000000</id>
          <parentGroupId>f8598f04-0159-1000-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>f8598f04-0159-1000-0000-000000000000</groupId>
            <id>f85aefb5-0159-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>original</selectedRelationships>
          <source>
            <groupId>f8598f04-0159-1000-0000-000000000000</groupId>
            <id>f8590398-0159-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>f85b61b3-0159-1000-0000-000000000000</id>
          <parentGroupId>f8598f04-0159-1000-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>f8598f04-0159-1000-0000-000000000000</groupId>
            <id>f85b2a78-0159-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>splits</selectedRelationships>
          <source>
            <groupId>f8598f04-0159-1000-0000-000000000000</groupId>
            <id>f8590398-0159-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>f8608b9b-0159-1000-0000-000000000000</id>
          <parentGroupId>f8598f04-0159-1000-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>15000</backPressureObjectThreshold>
          <destination>
            <groupId>f8598f04-0159-1000-0000-000000000000</groupId>
            <id>f86836e1-0159-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>splits</selectedRelationships>
          <source>
            <groupId>f8598f04-0159-1000-0000-000000000000</groupId>
            <id>f85b2a78-0159-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>f86a0e30-0159-1000-0000-000000000000</id>
          <parentGroupId>f8598f04-0159-1000-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>f8598f04-0159-1000-0000-000000000000</groupId>
            <id>fc85a222-0159-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>filtered</selectedRelationships>
          <source>
            <groupId>f8598f04-0159-1000-0000-000000000000</groupId>
            <id>f86836e1-0159-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>f86a1e7c-0159-1000-0000-000000000000</id>
          <parentGroupId>f8598f04-0159-1000-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>f8598f04-0159-1000-0000-000000000000</groupId>
            <id>fc87597c-0159-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>0</labelIndex>
          <name>kept</name>
          <selectedRelationships>unmatched</selectedRelationships>
          <source>
            <groupId>f8598f04-0159-1000-0000-000000000000</groupId>
            <id>f86836e1-0159-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>f87301c2-0159-1000-0000-000000000000</id>
          <parentGroupId>f8598f04-0159-1000-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>f8598f04-0159-1000-0000-000000000000</groupId>
            <id>f86c8a7a-0159-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>original</selectedRelationships>
          <source>
            <groupId>f8598f04-0159-1000-0000-000000000000</groupId>
            <id>f85b2a78-0159-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>f8792b0f-0159-1000-0000-000000000000</id>
          <parentGroupId>f8598f04-0159-1000-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>f8598f04-0159-1000-0000-000000000000</groupId>
            <id>f878c50c-0159-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>f8598f04-0159-1000-0000-000000000000</groupId>
            <id>f86c8a7a-0159-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>f8793ee5-0159-1000-0000-000000000000</id>
          <parentGroupId>f8598f04-0159-1000-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>928.5847447048004</x>
            <y>1093.575253344975</y>
          </bends>
          <bends>
            <x>928.5847447048004</x>
            <y>1143.575253344975</y>
          </bends>
          <destination>
            <groupId>f8598f04-0159-1000-0000-000000000000</groupId>
            <id>f86c8a7a-0159-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>wait</selectedRelationships>
          <source>
            <groupId>f8598f04-0159-1000-0000-000000000000</groupId>
            <id>f86c8a7a-0159-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>f87eec31-0159-1000-0000-000000000000</id>
          <parentGroupId>f8598f04-0159-1000-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>578.4517948756989</x>
            <y>859.803280688725</y>
          </bends>
          <bends>
            <x>578.4517948756989</x>
            <y>909.803280688725</y>
          </bends>
          <destination>
            <groupId>f8598f04-0159-1000-0000-000000000000</groupId>
            <id>f85aefb5-0159-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>wait</selectedRelationships>
          <source>
            <groupId>f8598f04-0159-1000-0000-000000000000</groupId>
            <id>f85aefb5-0159-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>f87f35f6-0159-1000-0000-000000000000</id>
          <parentGroupId>f8598f04-0159-1000-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>f8598f04-0159-1000-0000-000000000000</groupId>
            <id>f8f43000-0159-1000-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>f8598f04-0159-1000-0000-000000000000</groupId>
            <id>f85aefb5-0159-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>fc87ecf3-0159-1000-0000-000000000000</id>
          <parentGroupId>f8598f04-0159-1000-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>f8598f04-0159-1000-0000-000000000000</groupId>
            <id>fd1db0ba-0159-1000-0000-000000000000</id>
            <type>FUNNEL</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>f8598f04-0159-1000-0000-000000000000</groupId>
            <id>fc87597c-0159-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>fc881751-0159-1000-0000-000000000000</id>
          <parentGroupId>f8598f04-0159-1000-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>f8598f04-0159-1000-0000-000000000000</groupId>
            <id>fd1db0ba-0159-1000-0000-000000000000</id>
            <type>FUNNEL</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>f8598f04-0159-1000-0000-000000000000</groupId>
            <id>fc85a222-0159-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>fd1b7e65-0159-1000-0000-000000000000</id>
          <parentGroupId>f8598f04-0159-1000-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>15000</backPressureObjectThreshold>
          <destination>
            <groupId>f8598f04-0159-1000-0000-000000000000</groupId>
            <id>fc86f0d3-0159-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>f8598f04-0159-1000-0000-000000000000</groupId>
            <id>fcb40659-0159-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>fd1de582-0159-1000-0000-000000000000</id>
          <parentGroupId>f8598f04-0159-1000-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>15000</backPressureObjectThreshold>
          <destination>
            <groupId>f8598f04-0159-1000-0000-000000000000</groupId>
            <id>fcb40659-0159-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>f8598f04-0159-1000-0000-000000000000</groupId>
            <id>fd1db0ba-0159-1000-0000-000000000000</id>
            <type>FUNNEL</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <controllerServices>
          <id>f86e5e30-0159-1000-0000-000000000000</id>
          <parentGroupId>f8598f04-0159-1000-0000-000000000000</parentGroupId>
          <comments></comments>
          <descriptors>
            <entry>
              <key>Server Hostname</key>
              <value>
                <name>Server Hostname</name>
              </value>
            </entry>
            <entry>
              <key>Server Port</key>
              <value>
                <name>Server Port</name>
              </value>
            </entry>
            <entry>
              <key>SSL Context Service</key>
              <value>
                <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                <name>SSL Context Service</name>
              </value>
            </entry>
            <entry>
              <key>Communications Timeout</key>
              <value>
                <name>Communications Timeout</name>
              </value>
            </entry>
          </descriptors>
          <name>DistributedMapCacheClientService</name>
          <properties>
            <entry>
              <key>Server Hostname</key>
              <value>localhost</value>
            </entry>
            <entry>
              <key>Server Port</key>
              <value>4557</value>
            </entry>
            <entry>
              <key>SSL Context Service</key>
            </entry>
            <entry>
              <key>Communications Timeout</key>
              <value>30 secs</value>
            </entry>
          </properties>
          <state>ENABLED</state>
          <type>org.apache.nifi.distributed.cache.client.DistributedMapCacheClientService</type>
        </controllerServices>
        <funnels>
          <id>fd1db0ba-0159-1000-0000-000000000000</id>
          <parentGroupId>f8598f04-0159-1000-0000-000000000000</parentGroupId>
          <position>
            <x>1437.6532617745665</x>
            <y>1597.3081427614559</y>
          </position>
        </funnels>
        <inputPorts>
          <id>f859abf9-0159-1000-0000-000000000000</id>
          <parentGroupId>f8598f04-0159-1000-0000-000000000000</parentGroupId>
          <position>
            <x>599.9999973903473</x>
            <y>471.9999969973187</y>
          </position>
          <comments></comments>
          <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
          <name>input</name>
          <state>RUNNING</state>
          <type>INPUT_PORT</type>
        </inputPorts>
        <outputPorts>
          <id>f8f43000-0159-1000-0000-000000000000</id>
          <parentGroupId>f8598f04-0159-1000-0000-000000000000</parentGroupId>
          <position>
            <x>176.81330647586117</x>
            <y>1043.23469576773</y>
          </position>
          <comments></comments>
          <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
          <name>processed</name>
          <state>RUNNING</state>
          <type>OUTPUT_PORT</type>
        </outputPorts>
        <processors>
          <id>f8590398-0159-1000-0000-000000000000</id>
          <parentGroupId>f8598f04-0159-1000-0000-000000000000</parentGroupId>
          <position>
            <x>549.9999973903473</x>
            <y>584.9999969973187</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Line Split Count</key>
                <value>
                  <name>Line Split Count</name>
                </value>
              </entry>
              <entry>
                <key>Maximum Fragment Size</key>
                <value>
                  <name>Maximum Fragment Size</name>
                </value>
              </entry>
              <entry>
                <key>Header Line Count</key>
                <value>
                  <name>Header Line Count</name>
                </value>
              </entry>
              <entry>
                <key>Header Line Marker Characters</key>
                <value>
                  <name>Header Line Marker Characters</name>
                </value>
              </entry>
              <entry>
                <key>Remove Trailing Newlines</key>
                <value>
                  <name>Remove Trailing Newlines</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Line Split Count</key>
                <value>5000</value>
              </entry>
              <entry>
                <key>Maximum Fragment Size</key>
              </entry>
              <entry>
                <key>Header Line Count</key>
                <value>0</value>
              </entry>
              <entry>
                <key>Header Line Marker Characters</key>
              </entry>
              <entry>
                <key>Remove Trailing Newlines</key>
                <value>true</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Split Chunk</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>original</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>splits</name>
          </relationships>
          <style>
            <entry>
              <key>background-color</key>
              <value>#58a17a</value>
            </entry>
          </style>
          <type>org.apache.nifi.processors.standard.SplitText</type>
        </processors>
        <processors>
          <id>f85aefb5-0159-1000-0000-000000000000</id>
          <parentGroupId>f8598f04-0159-1000-0000-000000000000</parentGroupId>
          <position>
            <x>123.45179487569885</x>
            <y>819.803280688725</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Release Signal Identifier</key>
                <value>
                  <name>Release Signal Identifier</name>
                </value>
              </entry>
              <entry>
                <key>Target Signal Count</key>
                <value>
                  <name>Target Signal Count</name>
                </value>
              </entry>
              <entry>
                <key>Signal Counter Name</key>
                <value>
                  <name>Signal Counter Name</name>
                </value>
              </entry>
              <entry>
                <key>Expiration Duration</key>
                <value>
                  <name>Expiration Duration</name>
                </value>
              </entry>
              <entry>
                <key>Distributed Cache Service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.distributed.cache.client.AtomicDistributedMapCacheClient</identifiesControllerService>
                  <name>Distributed Cache Service</name>
                </value>
              </entry>
              <entry>
                <key>Attribute Copy Mode</key>
                <value>
                  <name>Attribute Copy Mode</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>release-signal-id</key>
                <value>${filename}</value>
              </entry>
              <entry>
                <key>target-signal-count</key>
                <value>${fragment.count}</value>
              </entry>
              <entry>
                <key>signal-counter-name</key>
                <value>chunks</value>
              </entry>
              <entry>
                <key>expiration-duration</key>
                <value>10 min</value>
              </entry>
              <entry>
                <key>distributed-cache-service</key>
                <value>f86e5e30-0159-1000-0000-000000000000</value>
              </entry>
              <entry>
                <key>attribute-copy-mode</key>
                <value>keeporiginal</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>1 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Wait Chunks in a File</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>expired</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>wait</name>
          </relationships>
          <style>
            <entry>
              <key>background-color</key>
              <value>#58a17a</value>
            </entry>
          </style>
          <type>org.apache.nifi.processors.standard.Wait</type>
        </processors>
        <processors>
          <id>f85b2a78-0159-1000-0000-000000000000</id>
          <parentGroupId>f8598f04-0159-1000-0000-000000000000</parentGroupId>
          <position>
            <x>912.2708103786285</x>
            <y>782.69414982935</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Line Split Count</key>
                <value>
                  <name>Line Split Count</name>
                </value>
              </entry>
              <entry>
                <key>Maximum Fragment Size</key>
                <value>
                  <name>Maximum Fragment Size</name>
                </value>
              </entry>
              <entry>
                <key>Header Line Count</key>
                <value>
                  <name>Header Line Count</name>
                </value>
              </entry>
              <entry>
                <key>Header Line Marker Characters</key>
                <value>
                  <name>Header Line Marker Characters</name>
                </value>
              </entry>
              <entry>
                <key>Remove Trailing Newlines</key>
                <value>
                  <name>Remove Trailing Newlines</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Line Split Count</key>
                <value>1</value>
              </entry>
              <entry>
                <key>Maximum Fragment Size</key>
              </entry>
              <entry>
                <key>Header Line Count</key>
                <value>0</value>
              </entry>
              <entry>
                <key>Header Line Marker Characters</key>
              </entry>
              <entry>
                <key>Remove Trailing Newlines</key>
                <value>true</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Split Record</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>original</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>splits</name>
          </relationships>
          <style>
            <entry>
              <key>background-color</key>
              <value>#6ba6e0</value>
            </entry>
          </style>
          <type>org.apache.nifi.processors.standard.SplitText</type>
        </processors>
        <processors>
          <id>f86836e1-0159-1000-0000-000000000000</id>
          <parentGroupId>f8598f04-0159-1000-0000-000000000000</parentGroupId>
          <position>
            <x>1284.6021702419098</x>
            <y>1031.274472094975</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>2</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Routing Strategy</key>
                <value>
                  <name>Routing Strategy</name>
                </value>
              </entry>
              <entry>
                <key>filtered</key>
                <value>
                  <name>filtered</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Routing Strategy</key>
                <value>Route to Property name</value>
              </entry>
              <entry>
                <key>filtered</key>
                <value>${fragment.index:mod(2):equals(1)}</value>
              </entry>
            </properties>
            <runDurationMillis>25</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>RouteOnAttribute</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>filtered</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>unmatched</name>
          </relationships>
          <style>
            <entry>
              <key>background-color</key>
              <value>#ffeb78</value>
            </entry>
          </style>
          <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
        </processors>
        <processors>
          <id>f86c8a7a-0159-1000-0000-000000000000</id>
          <parentGroupId>f8598f04-0159-1000-0000-000000000000</parentGroupId>
          <position>
            <x>473.5847447048004</x>
            <y>1053.575253344975</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Release Signal Identifier</key>
                <value>
                  <name>Release Signal Identifier</name>
                </value>
              </entry>
              <entry>
                <key>Target Signal Count</key>
                <value>
                  <name>Target Signal Count</name>
                </value>
              </entry>
              <entry>
                <key>Signal Counter Name</key>
                <value>
                  <name>Signal Counter Name</name>
                </value>
              </entry>
              <entry>
                <key>Expiration Duration</key>
                <value>
                  <name>Expiration Duration</name>
                </value>
              </entry>
              <entry>
                <key>Distributed Cache Service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.distributed.cache.client.AtomicDistributedMapCacheClient</identifiesControllerService>
                  <name>Distributed Cache Service</name>
                </value>
              </entry>
              <entry>
                <key>Attribute Copy Mode</key>
                <value>
                  <name>Attribute Copy Mode</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>release-signal-id</key>
                <value>${fragment.identifier}</value>
              </entry>
              <entry>
                <key>target-signal-count</key>
                <value>${fragment.count}</value>
              </entry>
              <entry>
                <key>signal-counter-name</key>
              </entry>
              <entry>
                <key>expiration-duration</key>
                <value>10 min</value>
              </entry>
              <entry>
                <key>distributed-cache-service</key>
                <value>f86e5e30-0159-1000-0000-000000000000</value>
              </entry>
              <entry>
                <key>attribute-copy-mode</key>
                <value>keeporiginal</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>100 ms</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Wait Records in a Chunk</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>expired</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>wait</name>
          </relationships>
          <style>
            <entry>
              <key>background-color</key>
              <value>#6ba6e0</value>
            </entry>
          </style>
          <type>org.apache.nifi.processors.standard.Wait</type>
        </processors>
        <processors>
          <id>f878c50c-0159-1000-0000-000000000000</id>
          <parentGroupId>f8598f04-0159-1000-0000-000000000000</parentGroupId>
          <position>
            <x>478.4257793914269</x>
            <y>1275.9560555041958</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Release Signal Identifier</key>
                <value>
                  <name>Release Signal Identifier</name>
                </value>
              </entry>
              <entry>
                <key>Signal Counter Name</key>
                <value>
                  <name>Signal Counter Name</name>
                </value>
              </entry>
              <entry>
                <key>Signal Counter Delta</key>
                <value>
                  <name>Signal Counter Delta</name>
                </value>
              </entry>
              <entry>
                <key>Signal Buffer Count</key>
                <value>
                  <name>Signal Buffer Count</name>
                </value>
              </entry>
              <entry>
                <key>Distributed Cache Service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.distributed.cache.client.AtomicDistributedMapCacheClient</identifiesControllerService>
                  <name>Distributed Cache Service</name>
                </value>
              </entry>
              <entry>
                <key>Attribute Cache Regex</key>
                <value>
                  <name>Attribute Cache Regex</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>release-signal-id</key>
                <value>${filename}</value>
              </entry>
              <entry>
                <key>signal-counter-name</key>
                <value>chunks</value>
              </entry>
              <entry>
                <key>signal-counter-delta</key>
                <value>1</value>
              </entry>
              <entry>
                <key>signal-buffer-count</key>
                <value>1000</value>
              </entry>
              <entry>
                <key>distributed-cache-service</key>
                <value>f86e5e30-0159-1000-0000-000000000000</value>
              </entry>
              <entry>
                <key>attribute-cache-regex</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Notify Chunk</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <style>
            <entry>
              <key>background-color</key>
              <value>#58a17a</value>
            </entry>
          </style>
          <type>org.apache.nifi.processors.standard.Notify</type>
        </processors>
        <processors>
          <id>fc85a222-0159-1000-0000-000000000000</id>
          <parentGroupId>f8598f04-0159-1000-0000-000000000000</parentGroupId>
          <position>
            <x>1511.468653577591</x>
            <y>1342.4045293983772</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Delete Attributes Expression</key>
                <value>
                  <name>Delete Attributes Expression</name>
                </value>
              </entry>
              <entry>
                <key>Store State</key>
                <value>
                  <name>Store State</name>
                </value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
                <value>
                  <name>Stateful Variables Initial Value</name>
                </value>
              </entry>
              <entry>
                <key>counter.name</key>
                <value>
                  <name>counter.name</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Delete Attributes Expression</key>
              </entry>
              <entry>
                <key>Store State</key>
                <value>Do not store state</value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
              </entry>
              <entry>
                <key>counter.name</key>
                <value>filtered</value>
              </entry>
            </properties>
            <runDurationMillis>100</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Count Filtered</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
          <id>fc86f0d3-0159-1000-0000-000000000000</id>
          <parentGroupId>f8598f04-0159-1000-0000-000000000000</parentGroupId>
          <position>
            <x>1286.6532617745665</x>
            <y>1904.821494474108</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Release Signal Identifier</key>
                <value>
                  <name>Release Signal Identifier</name>
                </value>
              </entry>
              <entry>
                <key>Signal Counter Name</key>
                <value>
                  <name>Signal Counter Name</name>
                </value>
              </entry>
              <entry>
                <key>Signal Counter Delta</key>
                <value>
                  <name>Signal Counter Delta</name>
                </value>
              </entry>
              <entry>
                <key>Signal Buffer Count</key>
                <value>
                  <name>Signal Buffer Count</name>
                </value>
              </entry>
              <entry>
                <key>Distributed Cache Service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.distributed.cache.client.AtomicDistributedMapCacheClient</identifiesControllerService>
                  <name>Distributed Cache Service</name>
                </value>
              </entry>
              <entry>
                <key>Attribute Cache Regex</key>
                <value>
                  <name>Attribute Cache Regex</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>release-signal-id</key>
                <value>${fragment.identifier}</value>
              </entry>
              <entry>
                <key>signal-counter-name</key>
                <value>${counter.name}</value>
              </entry>
              <entry>
                <key>signal-counter-delta</key>
                <value>1</value>
              </entry>
              <entry>
                <key>signal-buffer-count</key>
                <value>20000</value>
              </entry>
              <entry>
                <key>distributed-cache-service</key>
                <value>f86e5e30-0159-1000-0000-000000000000</value>
              </entry>
              <entry>
                <key>attribute-cache-regex</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0ms</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Notify Records</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <style>
            <entry>
              <key>background-color</key>
              <value>#6ba6e0</value>
            </entry>
          </style>
          <type>org.apache.nifi.processors.standard.Notify</type>
        </processors>
        <processors>
          <id>fc87597c-0159-1000-0000-000000000000</id>
          <parentGroupId>f8598f04-0159-1000-0000-000000000000</parentGroupId>
          <position>
            <x>1052.0758923471224</x>
            <y>1342.3172491249397</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Delete Attributes Expression</key>
                <value>
                  <name>Delete Attributes Expression</name>
                </value>
              </entry>
              <entry>
                <key>Store State</key>
                <value>
                  <name>Store State</name>
                </value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
                <value>
                  <name>Stateful Variables Initial Value</name>
                </value>
              </entry>
              <entry>
                <key>counter.name</key>
                <value>
                  <name>counter.name</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Delete Attributes Expression</key>
              </entry>
              <entry>
                <key>Store State</key>
                <value>Do not store state</value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
              </entry>
              <entry>
                <key>counter.name</key>
                <value>kept</value>
              </entry>
            </properties>
            <runDurationMillis>100</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Count Kept</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
          <id>fcb40659-0159-1000-0000-000000000000</id>
          <parentGroupId>f8598f04-0159-1000-0000-000000000000</parentGroupId>
          <position>
            <x>1286.6532617745665</x>
            <y>1704.9551614662955</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Release Signal Identifier</key>
                <value>
                  <name>Release Signal Identifier</name>
                </value>
              </entry>
              <entry>
                <key>Signal Counter Name</key>
                <value>
                  <name>Signal Counter Name</name>
                </value>
              </entry>
              <entry>
                <key>Signal Counter Delta</key>
                <value>
                  <name>Signal Counter Delta</name>
                </value>
              </entry>
              <entry>
                <key>Signal Buffer Count</key>
                <value>
                  <name>Signal Buffer Count</name>
                </value>
              </entry>
              <entry>
                <key>Distributed Cache Service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.distributed.cache.client.AtomicDistributedMapCacheClient</identifiesControllerService>
                  <name>Distributed Cache Service</name>
                </value>
              </entry>
              <entry>
                <key>Attribute Cache Regex</key>
                <value>
                  <name>Attribute Cache Regex</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>release-signal-id</key>
                <value>${filename}</value>
              </entry>
              <entry>
                <key>signal-counter-name</key>
                <value>records.${counter.name}</value>
              </entry>
              <entry>
                <key>signal-counter-delta</key>
                <value>1</value>
              </entry>
              <entry>
                <key>signal-buffer-count</key>
                <value>20000</value>
              </entry>
              <entry>
                <key>distributed-cache-service</key>
                <value>f86e5e30-0159-1000-0000-000000000000</value>
              </entry>
              <entry>
                <key>attribute-cache-regex</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0ms</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Notify Record Status</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style>
            <entry>
              <key>background-color</key>
              <value>#58a17a</value>
            </entry>
          </style>
          <type>org.apache.nifi.processors.standard.Notify</type>
        </processors>
      </contents>
      <name>Split Filter Wait</name>
    </processGroups>
  </snippet>
  <timestamp>02/02/2017 18:05:23 JST</timestamp>
</template>
